/* style.css */
body {
 background: black;
 color: white;
}

.color-block {
 display: inline-block;
 margin: 10px;
 border-radius: 5px;
 cursor: pointer;
 padding: 20px;
}

.color-block:hover {
 transform: scale(1.1);
}